<header class="max-sm mx-auto" style="width:100%;">
	<div class="flex pt2 md-py4 px2">
		<span class="flex-auto">
			<a class="gray" href="/work.html">
				Work
			</a>
		</span>
		<span class="flex-auto">
			<a class="gray" href="/photos.html">
				Photos
			</a>
		</span>
		<a style="letter-spacing: -0.3em;" class="gray" href="/">
			▲▼
		</a>
		<span class="flex-auto right-align">
			<a class="right-align black" href="/blog.html">
				Blog
			</a>
		</span>
		<span class="flex-auto right-align">
			<a class="gray" href="/about.html">
				About
			</a>
		</span>
	</div>
</header>