<header class="max-sm mx-auto" style="width:100%;">
	<div class="flex pt2 md-py4 px2">
		<span class="flex-auto">
			<a class="gray" href="http://www.arun.is/work.html">
				Work
			</a>
		</span>
		<span class="flex-auto">
			<a class="gray" href="http://www.arun.is/photos.html">
				Photos
			</a>
		</span>
		<a style="letter-spacing: -0.3em;" class="gray" href="http://www.arun.is">
			▲▼
		</a>
		<span class="flex-auto right-align">
			<a class="right-align black" href="{{ site.url }}">
				Blog
			</a>
		</span>
		<span class="flex-auto right-align">
			<a class="gray" href="http://www.arun.is/about.html">
				About
			</a>
		</span>
	</div>
</header>